<a href="https://colab.research.google.com/github/YJInn0121/QM2-Group-Project/blob/main/Data_cleaning_anxiety.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded=files.upload()
! pip install pandas
import pandas as pd
df = pd.read_excel("personal-well-being-borough.xlsx")
df

Saving personal-well-being-borough.xlsx to personal-well-being-borough (1).xlsx
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

,,Unnamed: 1,Life Satisfaction,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Anxiety,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,Code,Area,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,...,2018/19,NaN,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E09000001,City of London,x,x,x,x,x,x,NaN,NaN,...,x,NaN,x,x,x,x,x,x,x,x
3,E09000002,Barking and Dagenham,7.05,7.09,7.01,7.32,7.45,7.5,7.66,7.52,...,7.67,NaN,3.23,3.27,3.39,3.15,2.84,3.02,2.85,2.82
4,E09000003,Barnet,7.43,7.28,7.4,7.54,7.53,7.47,7.63,7.55,...,7.44,NaN,3.41,2.74,2.6,2.37,2.49,3.09,2.78,3.19
5,E09000004,Bexley,7.42,7.42,7.28,7.52,7.41,7.46,7.42,7.54,...,7.55,NaN,3.07,3.24,3.46,3.16,3.06,3.16,3.04,3.21
6,E09000005,Brent,7.11,7.28,7.41,7.24,7.55,7.67,7.79,7.71,...,7.84,NaN,2.77,3.29,3.07,2.5,2.57,2.69,2.7,2.4
7,E09000006,Bromley,7.5,7.6,7.53,7.71,7.54,7.6,7.31,7.57,...,7.47,NaN,3.3,3.22,3.15,2.76,2.98,3.29,3.16,2.88
8,E09000007,Camden,7.25,7.24,7.11,7.25,7.35,7.56,7.31,7.48,...,7.38,NaN,3.81,3.24,3.41,3.21,3.16,3.38,3.62,3.3
9,E09000008,Croydon,7.04,7.01,7.36,7.35,7.45,7.68,7.49,7.69,...,7.78,NaN,3.47,3.04,3.32,2.89,3.12,3.03,3.27,2.93
10,E09000009,Ealing,7.22,7.22,7.24,7.6,7.65,7.42,7.55,7.53,...,7.61,NaN,3.86,3.58,3.38,3.36,3.35,3.35,3.23,3.4
11,E09000010,Enfield,7.23,7.24,7.28,7.45,7.3,7.29,7.34,7.37,...,7.35,NaN,3.15,2.54,2.57,2.19,2.49,2.96,2.63,2.96
12,E09000011,Greenwich,7.18,7.15,7.15,7.33,7.23,7.28,7.47,7.54,...,7.36,NaN,3.38,3.62,3.27,3.52,3.55,3.37,3.15,2.98
13,E09000012,Hackney,7,7.07,7.05,7.43,7.31,7.26,7.34,7.5,...,7.38,NaN,3.88,3.66,3.79,3.32,3.13,3.48,3.23,3.04
14,E09000013,Hammersmith and Fulham,7.38,7.21,7.4,7.56,7.68,7.47,7.34,7.72,...,7.6,NaN,2.87,3.09,3.4,3.14,3.68,3.49,3.52,3.45
15,E09000014,Haringey,7.11,7.17,7.28,7.38,7.26,7.56,7.6,7.35,...,7.26,NaN,3.3,3.06,3.24,3,3.09,3.01,3.34,3.07
16,E09000015,Harrow,7.31,7.37,7.51,7.49,7.65,7.64,7.79,7.65,...,7.61,NaN,2.65,3.14,2.6,2.57,2.82,2.47,2.44,2.34
17,E09000016,Havering,7.35,7.36,7.51,7.62,7.69,7.53,7.58,7.68,...,7.4,NaN,3.4,3.17,3.12,3.02,2.65,2.81,2.83,3.03
18,E09000017,Hillingdon,7.4,7.37,7.5,7.63,7.46,7.68,7.55,7.76,...,7.67,NaN,3.44,3.37,3.06,3.03,3.09,3.37,3.17,3.07
19,E09000018,Hounslow,7.26,7.35,7.33,7.57,7.54,7.96,7.34,7.85,...,7.73,NaN,3.54,3.39,3.17,3.25,3.13,2.79,3.28,3.14
20,E09000019,Islington,7.09,7.14,7.35,7.36,7.29,7.38,7.38,7.51,...,7.3,NaN,3.66,3.68,3.45,3.27,3.41,3.26,3.35,3.23
21,E09000020,Kensington and Chelsea,7.57,7.7,7.67,7.65,7.78,7.52,7.31,7.23,...,7.38,NaN,3.2,3,3.14,3.21,3.38,3.29,3.71,3.69
22,E09000021,Kingston upon Thames,7.33,7.17,7.43,7.52,7.71,7.69,7.6,7.78,...,7.59,NaN,3.5,3.34,3.07,3.2,3.03,3.19,3.04,2.81
23,E09000022,Lambeth,7.13,7.08,7.01,7.41,7.41,7.35,7.42,7.22,...,7.26,NaN,3.43,3.66,3.42,3.12,3.33,3.5,3.32,3.67
24,E09000023,Lewisham,7.05,7.23,7.34,7.33,7.14,7.18,7.31,7.49,...,7.55,NaN,3.56,3.36,3.4,3.23,3.08,3.26,3.18,3.37
25,E09000024,Merton,7.14,7.18,7.43,7.64,7.56,7.62,7.55,7.84,...,7.57,NaN,3.78,3.59,3.38,3.31,3.23,3.15,3.07,3.13
26,E09000025,Newham,7.12,7.23,7.24,7.54,7.73,7.61,7.47,7.54,...,7.54,NaN,3.89,3.33,2.85,2.72,2.57,2.76,3.04,3.16
27,E09000026,Redbridge,7.33,7.3,7.47,7.55,7.87,7.57,7.55,7.54,...,7.45,NaN,3.3,3.11,3.16,3.02,2.97,3.06,3.17,3.05
28,E09000027,Richmond upon Thames,7.52,7.4,7.6,7.54,7.74,7.71,7.73,7.7,...,7.48,NaN,3.32,3.49,3.01,3.34,2.99,3.25,3.38,3.34
29,E09000028,Southwark,7.36,7.21,7.58,7.43,7.49,7.37,7.47,7.34,...,7.28,NaN,3.54,3.37,3.49,3.29,3.27,3.37,3.68,3.61
30,E09000029,Sutton,7.39,7.28,7.49,7.6,7.45,7.66,7.91,7.88,...,7.79,NaN,3.22,3.34,3.28,3.04,3.59,2.99,2.94,2.64
31,E09000030,Tower Hamlets,7.02,7.32,7.5,7.54,7.48,7.75,7.51,7.82,...,7.73,NaN,3.53,2.95,3.05,3.14,2.86,3.14,3.26,2.77
32,E09000031,Waltham Forest,7.18,7.24,7.34,7.64,7.55,7.67,7.73,7.46,...,7.51,NaN,3.45,2.96,3.03,2.79,2.58,2.62,3.03,2.98
33,E09000032,Wandsworth,7.46,7.26,7.43,7.47,7.53,7.64,7.64,7.65,...,7.5,NaN,3.63,3.54,3.34,3.07,3.29,3.36,2.88,3.15
34,E09000033,Westminster,7.33,7,7.53,7.45,7.6,7.68,7.57,7.66,...,7.38,NaN,3.52,3.66,3.13,3.38,3.14,2.99,3.33,3.36
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,E12000001,North East,7.44,7.39,7.47,7.57,7.62,7.61,7.66,7.67,...,7.5,NaN,3.21,3.05,2.97,3,2.99,2.84,2.92,2.85
37,E12000002,North West,7.37,7.41,7.42,7.56,7.55,7.59,7.68,7.69,...,7.54,NaN,3.17,3.08,2.93,2.9,2.93,2.93,2.86,2.78
38,E12000003,Yorkshire and The Humber,7.39,7.46,7.51,7.55,7.65,7.69,7.66,7.7,...,7.49,NaN,3.09,3.03,2.97,2.97,2.93,2.95,2.92,2.91
39,E12000004,East Midlands,7.47,7.5,7.55,7.64,7.74,7.73,7.72,7.76,...,7.58,NaN,3.12,2.95,2.84,2.73,2.75,2.9,2.93,2.82
40,E12000005,West Midlands,7.28,7.43,7.49,7.57,7.62,7.67,7.67,7.7,...,7.54,NaN,3.04,2.85,2.67,2.63,2.75,2.8,2.7,2.76
41,E12000006,East of England,7.46,7.49,7.55,7.66,7.67,7.74,7.73,7.75,...,7.62,NaN,3.07,2.97,2.96,2.82,2.78,2.85,2.82,2.73
42,E12000007,London,7.25,7.25,7.36,7.49,7.5,7.54,7.52,7.58,...,7.51,NaN,3.42,3.27,3.18,3.02,3.04,3.12,3.13,3.1
43,E12000008,South East,7.51,7.54,7.6,7.73,7.74,7.76,7.76,7.79,...,7.64,NaN,3.07,3.04,2.87,2.82,2.84,2.87,2.92,2.88
44,E12000009,South West,7.53,7.55,7.56,7.66,7.73,7.76,7.76,7.77,...,7.62,NaN,3,2.99,2.87,2.82,2.8,2.84,2.81,2.86
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,E92000001,England,7.41,7.44,7.5,7.6,7.64,7.68,7.68,7.71,...,7.56,NaN,3.14,3.04,2.93,2.86,2.87,2.91,2.9,2.87
47,W92000004,Wales,7.4,7.44,7.52,7.56,7.63,7.65,7.69,7.68,...,7.53,NaN,3.11,3.02,2.97,2.93,2.92,2.96,2.94,2.93
48,S92000003,Scotland,7.51,7.53,7.58,7.66,7.68,7.68,7.71,7.69,...,7.52,NaN,3.06,2.93,2.89,2.83,2.85,2.89,2.89,2.83
49,N92000002,Northern Ireland,7.53,7.7,7.73,7.89,7.85,7.88,7.92,7.89,...,7.69,NaN,3.15,3,2.84,2.81,2.78,2.64,2.53,2.83
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,K02000001,UK,7.42,7.46,7.51,7.61,7.65,7.68,7.69,7.71,...,7.56,NaN,3.13,3.03,2.92,2.86,2.87,2.9,2.89,2.87

In [ ]:
df.dropna(how='all', inplace=True)
df

,,Unnamed: 1,Life Satisfaction,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Anxiety,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,Code,Area,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,...,2018/19,NaN,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19
2,E09000001,City of London,x,x,x,x,x,x,NaN,NaN,...,x,NaN,x,x,x,x,x,x,x,x
3,E09000002,Barking and Dagenham,7.05,7.09,7.01,7.32,7.45,7.5,7.66,7.52,...,7.67,NaN,3.23,3.27,3.39,3.15,2.84,3.02,2.85,2.82
4,E09000003,Barnet,7.43,7.28,7.4,7.54,7.53,7.47,7.63,7.55,...,7.44,NaN,3.41,2.74,2.6,2.37,2.49,3.09,2.78,3.19
5,E09000004,Bexley,7.42,7.42,7.28,7.52,7.41,7.46,7.42,7.54,...,7.55,NaN,3.07,3.24,3.46,3.16,3.06,3.16,3.04,3.21
6,E09000005,Brent,7.11,7.28,7.41,7.24,7.55,7.67,7.79,7.71,...,7.84,NaN,2.77,3.29,3.07,2.5,2.57,2.69,2.7,2.4
7,E09000006,Bromley,7.5,7.6,7.53,7.71,7.54,7.6,7.31,7.57,...,7.47,NaN,3.3,3.22,3.15,2.76,2.98,3.29,3.16,2.88
8,E09000007,Camden,7.25,7.24,7.11,7.25,7.35,7.56,7.31,7.48,...,7.38,NaN,3.81,3.24,3.41,3.21,3.16,3.38,3.62,3.3
9,E09000008,Croydon,7.04,7.01,7.36,7.35,7.45,7.68,7.49,7.69,...,7.78,NaN,3.47,3.04,3.32,2.89,3.12,3.03,3.27,2.93
10,E09000009,Ealing,7.22,7.22,7.24,7.6,7.65,7.42,7.55,7.53,...,7.61,NaN,3.86,3.58,3.38,3.36,3.35,3.35,3.23,3.4
11,E09000010,Enfield,7.23,7.24,7.28,7.45,7.3,7.29,7.34,7.37,...,7.35,NaN,3.15,2.54,2.57,2.19,2.49,2.96,2.63,2.96
12,E09000011,Greenwich,7.18,7.15,7.15,7.33,7.23,7.28,7.47,7.54,...,7.36,NaN,3.38,3.62,3.27,3.52,3.55,3.37,3.15,2.98
13,E09000012,Hackney,7,7.07,7.05,7.43,7.31,7.26,7.34,7.5,...,7.38,NaN,3.88,3.66,3.79,3.32,3.13,3.48,3.23,3.04
14,E09000013,Hammersmith and Fulham,7.38,7.21,7.4,7.56,7.68,7.47,7.34,7.72,...,7.6,NaN,2.87,3.09,3.4,3.14,3.68,3.49,3.52,3.45
15,E09000014,Haringey,7.11,7.17,7.28,7.38,7.26,7.56,7.6,7.35,...,7.26,NaN,3.3,3.06,3.24,3,3.09,3.01,3.34,3.07
16,E09000015,Harrow,7.31,7.37,7.51,7.49,7.65,7.64,7.79,7.65,...,7.61,NaN,2.65,3.14,2.6,2.57,2.82,2.47,2.44,2.34
17,E09000016,Havering,7.35,7.36,7.51,7.62,7.69,7.53,7.58,7.68,...,7.4,NaN,3.4,3.17,3.12,3.02,2.65,2.81,2.83,3.03
18,E09000017,Hillingdon,7.4,7.37,7.5,7.63,7.46,7.68,7.55,7.76,...,7.67,NaN,3.44,3.37,3.06,3.03,3.09,3.37,3.17,3.07
19,E09000018,Hounslow,7.26,7.35,7.33,7.57,7.54,7.96,7.34,7.85,...,7.73,NaN,3.54,3.39,3.17,3.25,3.13,2.79,3.28,3.14
20,E09000019,Islington,7.09,7.14,7.35,7.36,7.29,7.38,7.38,7.51,...,7.3,NaN,3.66,3.68,3.45,3.27,3.41,3.26,3.35,3.23
21,E09000020,Kensington and Chelsea,7.57,7.7,7.67,7.65,7.78,7.52,7.31,7.23,...,7.38,NaN,3.2,3,3.14,3.21,3.38,3.29,3.71,3.69
22,E09000021,Kingston upon Thames,7.33,7.17,7.43,7.52,7.71,7.69,7.6,7.78,...,7.59,NaN,3.5,3.34,3.07,3.2,3.03,3.19,3.04,2.81
23,E09000022,Lambeth,7.13,7.08,7.01,7.41,7.41,7.35,7.42,7.22,...,7.26,NaN,3.43,3.66,3.42,3.12,3.33,3.5,3.32,3.67
24,E09000023,Lewisham,7.05,7.23,7.34,7.33,7.14,7.18,7.31,7.49,...,7.55,NaN,3.56,3.36,3.4,3.23,3.08,3.26,3.18,3.37
25,E09000024,Merton,7.14,7.18,7.43,7.64,7.56,7.62,7.55,7.84,...,7.57,NaN,3.78,3.59,3.38,3.31,3.23,3.15,3.07,3.13
26,E09000025,Newham,7.12,7.23,7.24,7.54,7.73,7.61,7.47,7.54,...,7.54,NaN,3.89,3.33,2.85,2.72,2.57,2.76,3.04,3.16
27,E09000026,Redbridge,7.33,7.3,7.47,7.55,7.87,7.57,7.55,7.54,...,7.45,NaN,3.3,3.11,3.16,3.02,2.97,3.06,3.17,3.05
28,E09000027,Richmond upon Thames,7.52,7.4,7.6,7.54,7.74,7.71,7.73,7.7,...,7.48,NaN,3.32,3.49,3.01,3.34,2.99,3.25,3.38,3.34
29,E09000028,Southwark,7.36,7.21,7.58,7.43,7.49,7.37,7.47,7.34,...,7.28,NaN,3.54,3.37,3.49,3.29,3.27,3.37,3.68,3.61
30,E09000029,Sutton,7.39,7.28,7.49,7.6,7.45,7.66,7.91,7.88,...,7.79,NaN,3.22,3.34,3.28,3.04,3.59,2.99,2.94,2.64
31,E09000030,Tower Hamlets,7.02,7.32,7.5,7.54,7.48,7.75,7.51,7.82,...,7.73,NaN,3.53,2.95,3.05,3.14,2.86,3.14,3.26,2.77
32,E09000031,Waltham Forest,7.18,7.24,7.34,7.64,7.55,7.67,7.73,7.46,...,7.51,NaN,3.45,2.96,3.03,2.79,2.58,2.62,3.03,2.98
33,E09000032,Wandsworth,7.46,7.26,7.43,7.47,7.53,7.64,7.64,7.65,...,7.5,NaN,3.63,3.54,3.34,3.07,3.29,3.36,2.88,3.15
34,E09000033,Westminster,7.33,7,7.53,7.45,7.6,7.68,7.57,7.66,...,7.38,NaN,3.52,3.66,3.13,3.38,3.14,2.99,3.33,3.36
36,E12000001,North East,7.44,7.39,7.47,7.57,7.62,7.61,7.66,7.67,...,7.5,NaN,3.21,3.05,2.97,3,2.99,2.84,2.92,2.85
37,E12000002,North West,7.37,7.41,7.42,7.56,7.55,7.59,7.68,7.69,...,7.54,NaN,3.17,3.08,2.93,2.9,2.93,2.93,2.86,2.78
38,E12000003,Yorkshire and The Humber,7.39,7.46,7.51,7.55,7.65,7.69,7.66,7.7,...,7.49,NaN,3.09,3.03,2.97,2.97,2.93,2.95,2.92,2.91
39,E12000004,East Midlands,7.47,7.5,7.55,7.64,7.74,7.73,7.72,7.76,...,7.58,NaN,3.12,2.95,2.84,2.73,2.75,2.9,2.93,2.82
40,E12000005,West Midlands,7.28,7.43,7.49,7.57,7.62,7.67,7.67,7.7,...,7.54,NaN,3.04,2.85,2.67,2.63,2.75,2.8,2.7,2.76
41,E12000006,East of England,7.46,7.49,7.55,7.66,7.67,7.74,7.73,7.75,...,7.62,NaN,3.07,2.97,2.96,2.82,2.78,2.85,2.82,2.73
42,E12000007,London,7.25,7.25,7.36,7.49,7.5,7.54,7.52,7.58,...,7.51,NaN,3.42,3.27,3.18,3.02,3.04,3.12,3.13,3.1
43,E12000008,South East,7.51,7.54,7.6,7.73,7.74,7.76,7.76,7.79,...,7.64,NaN,3.07,3.04,2.87,2.82,2.84,2.87,2.92,2.88
44,E12000009,South West,7.53,7.55,7.56,7.66,7.73,7.76,7.76,7.77,...,7.62,NaN,3,2.99,2.87,2.82,2.8,2.84,2.81,2.86
46,E92000001,England,7.41,7.44,7.5,7.6,7.64,7.68,7.68,7.71,...,7.56,NaN,3.14,3.04,2.93,2.86,2.87,2.91,2.9,2.87
47,W92000004,Wales,7.4,7.44,7.52,7.56,7.63,7.65,7.69,7.68,...,7.53,NaN,3.11,3.02,2.97,2.93,2.92,2.96,2.94,2.93
48,S92000003,Scotland,7.51,7.53,7.58,7.66,7.68,7.68,7.71,7.69,...,7.52,NaN,3.06,2.93,2.89,2.83,2.85,2.89,2.89,2.83
49,N92000002,Northern Ireland,7.53,7.7,7.73,7.89,7.85,7.88,7.92,7.89,...,7.69,NaN,3.15,3,2.84,2.81,2.78,2.64,2.53,2.83
51,K02000001,UK,7.42,7.46,7.51,7.61,7.65,7.68,7.69,7.71,...,7.56,NaN,3.13,3.03,2.92,2.86,2.87,2.9,2.89,2.87

In [ ]:
df.drop(2, inplace=True)
df

,,Unnamed: 1,Life Satisfaction,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Anxiety,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,Code,Area,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,...,2018/19,NaN,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19
3,E09000002,Barking and Dagenham,7.05,7.09,7.01,7.32,7.45,7.5,7.66,7.52,...,7.67,NaN,3.23,3.27,3.39,3.15,2.84,3.02,2.85,2.82
4,E09000003,Barnet,7.43,7.28,7.4,7.54,7.53,7.47,7.63,7.55,...,7.44,NaN,3.41,2.74,2.6,2.37,2.49,3.09,2.78,3.19
5,E09000004,Bexley,7.42,7.42,7.28,7.52,7.41,7.46,7.42,7.54,...,7.55,NaN,3.07,3.24,3.46,3.16,3.06,3.16,3.04,3.21
6,E09000005,Brent,7.11,7.28,7.41,7.24,7.55,7.67,7.79,7.71,...,7.84,NaN,2.77,3.29,3.07,2.5,2.57,2.69,2.7,2.4
7,E09000006,Bromley,7.5,7.6,7.53,7.71,7.54,7.6,7.31,7.57,...,7.47,NaN,3.3,3.22,3.15,2.76,2.98,3.29,3.16,2.88
8,E09000007,Camden,7.25,7.24,7.11,7.25,7.35,7.56,7.31,7.48,...,7.38,NaN,3.81,3.24,3.41,3.21,3.16,3.38,3.62,3.3
9,E09000008,Croydon,7.04,7.01,7.36,7.35,7.45,7.68,7.49,7.69,...,7.78,NaN,3.47,3.04,3.32,2.89,3.12,3.03,3.27,2.93
10,E09000009,Ealing,7.22,7.22,7.24,7.6,7.65,7.42,7.55,7.53,...,7.61,NaN,3.86,3.58,3.38,3.36,3.35,3.35,3.23,3.4
11,E09000010,Enfield,7.23,7.24,7.28,7.45,7.3,7.29,7.34,7.37,...,7.35,NaN,3.15,2.54,2.57,2.19,2.49,2.96,2.63,2.96
12,E09000011,Greenwich,7.18,7.15,7.15,7.33,7.23,7.28,7.47,7.54,...,7.36,NaN,3.38,3.62,3.27,3.52,3.55,3.37,3.15,2.98
13,E09000012,Hackney,7,7.07,7.05,7.43,7.31,7.26,7.34,7.5,...,7.38,NaN,3.88,3.66,3.79,3.32,3.13,3.48,3.23,3.04
14,E09000013,Hammersmith and Fulham,7.38,7.21,7.4,7.56,7.68,7.47,7.34,7.72,...,7.6,NaN,2.87,3.09,3.4,3.14,3.68,3.49,3.52,3.45
15,E09000014,Haringey,7.11,7.17,7.28,7.38,7.26,7.56,7.6,7.35,...,7.26,NaN,3.3,3.06,3.24,3,3.09,3.01,3.34,3.07
16,E09000015,Harrow,7.31,7.37,7.51,7.49,7.65,7.64,7.79,7.65,...,7.61,NaN,2.65,3.14,2.6,2.57,2.82,2.47,2.44,2.34
17,E09000016,Havering,7.35,7.36,7.51,7.62,7.69,7.53,7.58,7.68,...,7.4,NaN,3.4,3.17,3.12,3.02,2.65,2.81,2.83,3.03
18,E09000017,Hillingdon,7.4,7.37,7.5,7.63,7.46,7.68,7.55,7.76,...,7.67,NaN,3.44,3.37,3.06,3.03,3.09,3.37,3.17,3.07
19,E09000018,Hounslow,7.26,7.35,7.33,7.57,7.54,7.96,7.34,7.85,...,7.73,NaN,3.54,3.39,3.17,3.25,3.13,2.79,3.28,3.14
20,E09000019,Islington,7.09,7.14,7.35,7.36,7.29,7.38,7.38,7.51,...,7.3,NaN,3.66,3.68,3.45,3.27,3.41,3.26,3.35,3.23
21,E09000020,Kensington and Chelsea,7.57,7.7,7.67,7.65,7.78,7.52,7.31,7.23,...,7.38,NaN,3.2,3,3.14,3.21,3.38,3.29,3.71,3.69
22,E09000021,Kingston upon Thames,7.33,7.17,7.43,7.52,7.71,7.69,7.6,7.78,...,7.59,NaN,3.5,3.34,3.07,3.2,3.03,3.19,3.04,2.81
23,E09000022,Lambeth,7.13,7.08,7.01,7.41,7.41,7.35,7.42,7.22,...,7.26,NaN,3.43,3.66,3.42,3.12,3.33,3.5,3.32,3.67
24,E09000023,Lewisham,7.05,7.23,7.34,7.33,7.14,7.18,7.31,7.49,...,7.55,NaN,3.56,3.36,3.4,3.23,3.08,3.26,3.18,3.37
25,E09000024,Merton,7.14,7.18,7.43,7.64,7.56,7.62,7.55,7.84,...,7.57,NaN,3.78,3.59,3.38,3.31,3.23,3.15,3.07,3.13
26,E09000025,Newham,7.12,7.23,7.24,7.54,7.73,7.61,7.47,7.54,...,7.54,NaN,3.89,3.33,2.85,2.72,2.57,2.76,3.04,3.16
27,E09000026,Redbridge,7.33,7.3,7.47,7.55,7.87,7.57,7.55,7.54,...,7.45,NaN,3.3,3.11,3.16,3.02,2.97,3.06,3.17,3.05
28,E09000027,Richmond upon Thames,7.52,7.4,7.6,7.54,7.74,7.71,7.73,7.7,...,7.48,NaN,3.32,3.49,3.01,3.34,2.99,3.25,3.38,3.34
29,E09000028,Southwark,7.36,7.21,7.58,7.43,7.49,7.37,7.47,7.34,...,7.28,NaN,3.54,3.37,3.49,3.29,3.27,3.37,3.68,3.61
30,E09000029,Sutton,7.39,7.28,7.49,7.6,7.45,7.66,7.91,7.88,...,7.79,NaN,3.22,3.34,3.28,3.04,3.59,2.99,2.94,2.64
31,E09000030,Tower Hamlets,7.02,7.32,7.5,7.54,7.48,7.75,7.51,7.82,...,7.73,NaN,3.53,2.95,3.05,3.14,2.86,3.14,3.26,2.77
32,E09000031,Waltham Forest,7.18,7.24,7.34,7.64,7.55,7.67,7.73,7.46,...,7.51,NaN,3.45,2.96,3.03,2.79,2.58,2.62,3.03,2.98
33,E09000032,Wandsworth,7.46,7.26,7.43,7.47,7.53,7.64,7.64,7.65,...,7.5,NaN,3.63,3.54,3.34,3.07,3.29,3.36,2.88,3.15
34,E09000033,Westminster,7.33,7,7.53,7.45,7.6,7.68,7.57,7.66,...,7.38,NaN,3.52,3.66,3.13,3.38,3.14,2.99,3.33,3.36
36,E12000001,North East,7.44,7.39,7.47,7.57,7.62,7.61,7.66,7.67,...,7.5,NaN,3.21,3.05,2.97,3,2.99,2.84,2.92,2.85
37,E12000002,North West,7.37,7.41,7.42,7.56,7.55,7.59,7.68,7.69,...,7.54,NaN,3.17,3.08,2.93,2.9,2.93,2.93,2.86,2.78
38,E12000003,Yorkshire and The Humber,7.39,7.46,7.51,7.55,7.65,7.69,7.66,7.7,...,7.49,NaN,3.09,3.03,2.97,2.97,2.93,2.95,2.92,2.91
39,E12000004,East Midlands,7.47,7.5,7.55,7.64,7.74,7.73,7.72,7.76,...,7.58,NaN,3.12,2.95,2.84,2.73,2.75,2.9,2.93,2.82
40,E12000005,West Midlands,7.28,7.43,7.49,7.57,7.62,7.67,7.67,7.7,...,7.54,NaN,3.04,2.85,2.67,2.63,2.75,2.8,2.7,2.76
41,E12000006,East of England,7.46,7.49,7.55,7.66,7.67,7.74,7.73,7.75,...,7.62,NaN,3.07,2.97,2.96,2.82,2.78,2.85,2.82,2.73
42,E12000007,London,7.25,7.25,7.36,7.49,7.5,7.54,7.52,7.58,...,7.51,NaN,3.42,3.27,3.18,3.02,3.04,3.12,3.13,3.1
43,E12000008,South East,7.51,7.54,7.6,7.73,7.74,7.76,7.76,7.79,...,7.64,NaN,3.07,3.04,2.87,2.82,2.84,2.87,2.92,2.88
44,E12000009,South West,7.53,7.55,7.56,7.66,7.73,7.76,7.76,7.77,...,7.62,NaN,3,2.99,2.87,2.82,2.8,2.84,2.81,2.86
46,E92000001,England,7.41,7.44,7.5,7.6,7.64,7.68,7.68,7.71,...,7.56,NaN,3.14,3.04,2.93,2.86,2.87,2.91,2.9,2.87
47,W92000004,Wales,7.4,7.44,7.52,7.56,7.63,7.65,7.69,7.68,...,7.53,NaN,3.11,3.02,2.97,2.93,2.92,2.96,2.94,2.93
48,S92000003,Scotland,7.51,7.53,7.58,7.66,7.68,7.68,7.71,7.69,...,7.52,NaN,3.06,2.93,2.89,2.83,2.85,2.89,2.89,2.83
49,N92000002,Northern Ireland,7.53,7.7,7.73,7.89,7.85,7.88,7.92,7.89,...,7.69,NaN,3.15,3,2.84,2.81,2.78,2.64,2.53,2.83
51,K02000001,UK,7.42,7.46,7.51,7.61,7.65,7.68,7.69,7.71,...,7.56,NaN,3.13,3.03,2.92,2.86,2.87,2.9,2.89,2.87

In [ ]:
df = df.loc[:, ['Unnamed: 1','Anxiety', 'Unnamed: 30', 'Unnamed: 31','Unnamed: 32']]
df

                  Unnamed: 1  Anxiety Unnamed: 30 Unnamed: 31 Unnamed: 32
0                       Area  2011/12     2012/13     2013/14     2014/15
3       Barking and Dagenham     3.23        3.27        3.39        3.15
4                     Barnet     3.41        2.74         2.6        2.37
5                     Bexley     3.07        3.24        3.46        3.16
6                      Brent     2.77        3.29        3.07         2.5
7                    Bromley      3.3        3.22        3.15        2.76
8                     Camden     3.81        3.24        3.41        3.21
9                    Croydon     3.47        3.04        3.32        2.89
10                    Ealing     3.86        3.58        3.38        3.36
11                   Enfield     3.15        2.54        2.57        2.19
12                 Greenwich     3.38        3.62        3.27        3.52
13                   Hackney     3.88        3.66        3.79        3.32
14    Hammersmith and Fulham     2.87        3.09         3.4        3.14
15                  Haringey      3.3        3.06        3.24           3
16                    Harrow     2.65        3.14         2.6        2.57
17                  Havering      3.4        3.17        3.12        3.02
18                Hillingdon     3.44        3.37        3.06        3.03
19                  Hounslow     3.54        3.39        3.17        3.25
20                 Islington     3.66        3.68        3.45        3.27
21    Kensington and Chelsea      3.2           3        3.14        3.21
22      Kingston upon Thames      3.5        3.34        3.07         3.2
23                   Lambeth     3.43        3.66        3.42        3.12
24                  Lewisham     3.56        3.36         3.4        3.23
25                    Merton     3.78        3.59        3.38        3.31
26                    Newham     3.89        3.33        2.85        2.72
27                 Redbridge      3.3        3.11        3.16        3.02
28      Richmond upon Thames     3.32        3.49        3.01        3.34
29                 Southwark     3.54        3.37        3.49        3.29
30                    Sutton     3.22        3.34        3.28        3.04
31             Tower Hamlets     3.53        2.95        3.05        3.14
32            Waltham Forest     3.45        2.96        3.03        2.79
33                Wandsworth     3.63        3.54        3.34        3.07
34               Westminster     3.52        3.66        3.13        3.38
36                North East     3.21        3.05        2.97           3
37                North West     3.17        3.08        2.93         2.9
38  Yorkshire and The Humber     3.09        3.03        2.97        2.97
39             East Midlands     3.12        2.95        2.84        2.73
40             West Midlands     3.04        2.85        2.67        2.63
41           East of England     3.07        2.97        2.96        2.82
42                    London     3.42        3.27        3.18        3.02
43                South East     3.07        3.04        2.87        2.82
44                South West        3        2.99        2.87        2.82
46                   England     3.14        3.04        2.93        2.86
47                     Wales     3.11        3.02        2.97        2.93
48                  Scotland     3.06        2.93        2.89        2.83
49          Northern Ireland     3.15           3        2.84        2.81
51                        UK     3.13        3.03        2.92        2.86

In [ ]:
df.rename(columns={'Unnamed: 1': 'Area',

                   'Anxiety':'Anxiety 2011/2012',
                   'Unnamed: 30':'Anxiety 2012/2013',
                   'Unnamed: 31':'Anxiety 2013/2014',
                   'Unnamed: 32':'Anxiety 2014/2015',

                   }, inplace=True)
df

,Area,Anxiety 2011/2012,Anxiety 2012/2013,Anxiety 2013/2014,Anxiety 2014/2015
0,Area,2011/12,2012/13,2013/14,2014/15
3,Barking and Dagenham,3.23,3.27,3.39,3.15
4,Barnet,3.41,2.74,2.6,2.37
5,Bexley,3.07,3.24,3.46,3.16
6,Brent,2.77,3.29,3.07,2.5
7,Bromley,3.3,3.22,3.15,2.76
8,Camden,3.81,3.24,3.41,3.21
9,Croydon,3.47,3.04,3.32,2.89
10,Ealing,3.86,3.58,3.38,3.36
11,Enfield,3.15,2.54,2.57,2.19
12,Greenwich,3.38,3.62,3.27,3.52
13,Hackney,3.88,3.66,3.79,3.32
14,Hammersmith and Fulham,2.87,3.09,3.4,3.14
15,Haringey,3.3,3.06,3.24,3
16,Harrow,2.65,3.14,2.6,2.57
17,Havering,3.4,3.17,3.12,3.02
18,Hillingdon,3.44,3.37,3.06,3.03
19,Hounslow,3.54,3.39,3.17,3.25
20,Islington,3.66,3.68,3.45,3.27
21,Kensington and Chelsea,3.2,3,3.14,3.21
22,Kingston upon Thames,3.5,3.34,3.07,3.2
23,Lambeth,3.43,3.66,3.42,3.12
24,Lewisham,3.56,3.36,3.4,3.23
25,Merton,3.78,3.59,3.38,3.31
26,Newham,3.89,3.33,2.85,2.72
27,Redbridge,3.3,3.11,3.16,3.02
28,Richmond upon Thames,3.32,3.49,3.01,3.34
29,Southwark,3.54,3.37,3.49,3.29
30,Sutton,3.22,3.34,3.28,3.04
31,Tower Hamlets,3.53,2.95,3.05,3.14
32,Waltham Forest,3.45,2.96,3.03,2.79
33,Wandsworth,3.63,3.54,3.34,3.07
34,Westminster,3.52,3.66,3.13,3.38
36,North East,3.21,3.05,2.97,3
37,North West,3.17,3.08,2.93,2.9
38,Yorkshire and The Humber,3.09,3.03,2.97,2.97
39,East Midlands,3.12,2.95,2.84,2.73
40,West Midlands,3.04,2.85,2.67,2.63
41,East of England,3.07,2.97,2.96,2.82
42,London,3.42,3.27,3.18,3.02
43,South East,3.07,3.04,2.87,2.82
44,South West,3,2.99,2.87,2.82
46,England,3.14,3.04,2.93,2.86
47,Wales,3.11,3.02,2.97,2.93
48,Scotland,3.06,2.93,2.89,2.83
49,Northern Ireland,3.15,3,2.84,2.81
51,UK,3.13,3.03,2.92,2.86

In [ ]:
df.iloc[1:, :]
df

,Area,Anxiety 2011/2012,Anxiety 2012/2013,Anxiety 2013/2014,Anxiety 2014/2015
0,Area,2011/12,2012/13,2013/14,2014/15
3,Barking and Dagenham,3.23,3.27,3.39,3.15
4,Barnet,3.41,2.74,2.6,2.37
5,Bexley,3.07,3.24,3.46,3.16
6,Brent,2.77,3.29,3.07,2.5
7,Bromley,3.3,3.22,3.15,2.76
8,Camden,3.81,3.24,3.41,3.21
9,Croydon,3.47,3.04,3.32,2.89
10,Ealing,3.86,3.58,3.38,3.36
11,Enfield,3.15,2.54,2.57,2.19
12,Greenwich,3.38,3.62,3.27,3.52
13,Hackney,3.88,3.66,3.79,3.32
14,Hammersmith and Fulham,2.87,3.09,3.4,3.14
15,Haringey,3.3,3.06,3.24,3
16,Harrow,2.65,3.14,2.6,2.57
17,Havering,3.4,3.17,3.12,3.02
18,Hillingdon,3.44,3.37,3.06,3.03
19,Hounslow,3.54,3.39,3.17,3.25
20,Islington,3.66,3.68,3.45,3.27
21,Kensington and Chelsea,3.2,3,3.14,3.21
22,Kingston upon Thames,3.5,3.34,3.07,3.2
23,Lambeth,3.43,3.66,3.42,3.12
24,Lewisham,3.56,3.36,3.4,3.23
25,Merton,3.78,3.59,3.38,3.31
26,Newham,3.89,3.33,2.85,2.72
27,Redbridge,3.3,3.11,3.16,3.02
28,Richmond upon Thames,3.32,3.49,3.01,3.34
29,Southwark,3.54,3.37,3.49,3.29
30,Sutton,3.22,3.34,3.28,3.04
31,Tower Hamlets,3.53,2.95,3.05,3.14
32,Waltham Forest,3.45,2.96,3.03,2.79
33,Wandsworth,3.63,3.54,3.34,3.07
34,Westminster,3.52,3.66,3.13,3.38
36,North East,3.21,3.05,2.97,3
37,North West,3.17,3.08,2.93,2.9
38,Yorkshire and The Humber,3.09,3.03,2.97,2.97
39,East Midlands,3.12,2.95,2.84,2.73
40,West Midlands,3.04,2.85,2.67,2.63
41,East of England,3.07,2.97,2.96,2.82
42,London,3.42,3.27,3.18,3.02
43,South East,3.07,3.04,2.87,2.82
44,South West,3,2.99,2.87,2.82
46,England,3.14,3.04,2.93,2.86
47,Wales,3.11,3.02,2.97,2.93
48,Scotland,3.06,2.93,2.89,2.83
49,Northern Ireland,3.15,3,2.84,2.81
51,UK,3.13,3.03,2.92,2.86

In [ ]:
df.drop(df.index[35:52], inplace=True)
df

,Area,Anxiety 2011/2012,Anxiety 2012/2013,Anxiety 2013/2014,Anxiety 2014/2015
0,Area,2011/12,2012/13,2013/14,2014/15
3,Barking and Dagenham,3.23,3.27,3.39,3.15
4,Barnet,3.41,2.74,2.6,2.37
5,Bexley,3.07,3.24,3.46,3.16
6,Brent,2.77,3.29,3.07,2.5
7,Bromley,3.3,3.22,3.15,2.76
8,Camden,3.81,3.24,3.41,3.21
9,Croydon,3.47,3.04,3.32,2.89
10,Ealing,3.86,3.58,3.38,3.36
11,Enfield,3.15,2.54,2.57,2.19
12,Greenwich,3.38,3.62,3.27,3.52
13,Hackney,3.88,3.66,3.79,3.32
14,Hammersmith and Fulham,2.87,3.09,3.4,3.14
15,Haringey,3.3,3.06,3.24,3
16,Harrow,2.65,3.14,2.6,2.57
17,Havering,3.4,3.17,3.12,3.02
18,Hillingdon,3.44,3.37,3.06,3.03
19,Hounslow,3.54,3.39,3.17,3.25
20,Islington,3.66,3.68,3.45,3.27
21,Kensington and Chelsea,3.2,3,3.14,3.21
22,Kingston upon Thames,3.5,3.34,3.07,3.2
23,Lambeth,3.43,3.66,3.42,3.12
24,Lewisham,3.56,3.36,3.4,3.23
25,Merton,3.78,3.59,3.38,3.31
26,Newham,3.89,3.33,2.85,2.72
27,Redbridge,3.3,3.11,3.16,3.02
28,Richmond upon Thames,3.32,3.49,3.01,3.34
29,Southwark,3.54,3.37,3.49,3.29
30,Sutton,3.22,3.34,3.28,3.04
31,Tower Hamlets,3.53,2.95,3.05,3.14
32,Waltham Forest,3.45,2.96,3.03,2.79
33,Wandsworth,3.63,3.54,3.34,3.07
34,Westminster,3.52,3.66,3.13,3.38
36,North East,3.21,3.05,2.97,3
37,North West,3.17,3.08,2.93,2.9

In [ ]:
df.drop(index=0, inplace=True)